@media screen and (max-width: 450px){
  form{
    font-size: 12px;
  }

  input{
    max-width: 100px;
    padding: 4px;
  }
}

@media screen and (max-width: 330px){
  form{
    font-size: 10px;
  }

  input{
    max-width: 80px;
    padding: 2px;
  }
}