@media screen and (max-width: 520px){


  #container-form{
    margin: 10% 2% 10% 2%;
    max-height: 700px;
  }



  form{
    font-size: 14.5px;
  }

  input{
    display: block;
    width: 200px;
    padding: 5px;
  }

  label input[type="radio"]{
    max-width: 20px;
    display: inline;
  }

  .container-btn{
    margin-top: 7px;
  }
}

@media screen and (max-width: 360px){
  form{
    font-size: 12px;
  }

  input{
    width: 150px;
    padding: 2px;
  }
}